<div class="showErrImport w-100">
  <div class="row w-100">
    <div class="col-md-12">
      <div class="box-header-group-btn text-end">
        <input [(ngModel)]="filterGlobal" type="text" class="iput-text global-filter"
          placeholder="Tìm kiếm trong danh sách" (input)="
    myTable.filterGlobal($event.target.value.trim(), 'contains')
    " />
        <div style="clear: both;"></div>
      </div>
    </div>
  </div>

  <div class="row mt-10 w-100">
    <div class="col-md-12">
      <p-table #dt [columns]="listColumn" [value]="listData" [resizableColumns]="true" columnResizeMode="expand"
        [rowsPerPageOptions]="[10, 20, 30]" [paginator]="true" [filterDelay]="0" [rows]="10">
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columns" style="text-align: center;" [ngStyle]="{ 'width' : col.width}">
              {{col.header}}
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-index="rowIndex" let-columns="columns">
          <tr>
            <td *ngFor="let col of columns" [ngSwitch]="col.field" [ngStyle]="{'text-align': col.textAlign}">
              <span *ngSwitchCase="'stt'">
                {{index + 1}}
              </span>

              <span *ngSwitchCase="'price'">
                {{rowData["price"] | number: 0}}
              </span>

              <span *ngSwitchCase="'soLuongToiThieu'">
                {{rowData["price"] | number: 0}}
              </span>

              <span *ngSwitchCase="'prepaymentValue'">
                {{rowData["YeuCauThanhToan"] == 1 ? ((rowData["giaTriThanhToan"] | number: 0) + "%") :
                (rowData["giaTriThanhToan"]| number: 0)}}
              </span>


              <span *ngSwitchCase="'efftiveDate'">
                {{(rowData["thoiGianTu"] != null ? (rowData["thoiGianTu"] | date: "dd/MM/yyyy") : "") + "
                - " + (rowData["thoiGianDen"]!= null ? (rowData["thoiGianDen"] | date:
                "dd/MM/yyyy") : "")}}
              </span>

              <span *ngSwitchCase="'listErr'">
                <p *ngFor="let err of rowData.listErr">{{err}}</p>
              </span>

              <span *ngSwitchDefault>
                {{rowData[col.field]}}
              </span>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>