<card-body>
    <div class="row">
        <div class="col-md-12">
            <button type="button" 
                *ngIf="chart"
                [disabled]="loading"
                class="btn-edit"
                (click)="refresh()"
                >
                <span class="text-white">Làm mới</span>
                <i [class]="loading ? 'fa fa-circle-o-notch fa-spin' : 'fas fa-sync'"></i>
            </button>
        </div>
    </div>
    <div class="pl-15">
        <h4 class="title">Thống kê phiếu đặt dịch vụ</h4>
        <p>Số lệnh đặt dịch vụ chờ phê duyệt: <strong>{{countOrderProcess}}</strong> </p>
    </div>
    <div #container></div>
</card-body>
