<!-- Loading... -->
<div class="loading-indicator" *ngIf="loading">
  <p-progressSpinner [style]="{width: '50px', height: '50px'}" strokeWidth="8" fill="#EEEEEE" animationDuration=".5s">
  </p-progressSpinner>
</div>
<!-- Message Response... -->
<p-toast position="bottom-right"></p-toast>
<!-- Confirm... -->
<p-confirmDialog header="Xác nhận" icon="pi pi-exclamation-triangle" acceptLabel="Chấp nhận" rejectLabel="Không">
</p-confirmDialog>

<div class="bao-cao-tong-hop">
  <div class="row no-margin">
    <div class="box-header">

      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12">
            <div class="box-header-group">
              <div class="row">
                <div class="col-md-1 col-xs-2">
                  <div class="box-header-icon">
                    <img src="/assets/icons/components/money-2.svg" class="Money-2">
                  </div>
                </div>
                <div class="col-md-11 col-xs-10">
                  <div class="box-header-title">Báo cáo tổng hợp</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12">
            <div class="box-header-group-btn">
              <button type="button" class="btn-refresh" (click)="refreshFilter()">
                <img src="/assets/icons/components/ios-refresh.svg" class="ios-refresh">
              </button>
              <button type="button" class="btn-filter" (click)="showFilter()">
                <img src="/assets/icons/components/ios-funnel.svg" class="ios-funnel">
                <span class="btn-filter-text">Bộ lọc</span>
              </button>
              <input type="text" class="iput-text" placeholder="Tìm kiếm trong danh sách" [(ngModel)]="isGlobalFilter"
                (input)="myTable.filterGlobal($event.target.value.trim(), 'contains')">
              <div style="clear: both;"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row no-margin" style="background-color: #f2f4f8;">
    <div class="col-md-{{leftColNumber}}">
      <p-table #myTable [columns]="listCol" [value]="listData" [resizableColumns]="true" columnResizeMode="expand"
        [paginator]="true" [rows]="10" [rowsPerPageOptions]="[50,100,150]" [responsive]="true">
        <ng-template pTemplate="caption">
          <div style="text-align:left">
            <span class="mr-5">Chọn loại báo cáo:</span>
            <p-dropdown [options]="listBaoCao" optionLabel="name" [style]="{'width': '200px'}"
              (onChange)="getMasterBaoCaoTongHop()" [(ngModel)]="baoCaoSelected"></p-dropdown>
          </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th style="width: 3.5em; text-align: center;">
              #
            </th>
            <th *ngFor="let col of columns" pResizableColumn [pSortableColumn]="col.field"
              [ngStyle]="{'text-align': 'center', 'display': col.display, 'width': col.width}">
              <span>
                {{col.header}}
                <!-- <p-sortIcon [field]="col.field"></p-sortIcon> -->
              </span>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-index="rowIndex" let-rowData let-columns="columns">
          <tr>
            <td style="text-align: center;">
              {{index + 1}}
            </td>
            <td *ngFor="let col of columns" class="ui-resizable-column" [ngSwitch]="col.field"
              [ngStyle]="{'text-align': col.textAlign, 'display': col.display, 'width': col.width}">
              <span class="ui-column-title">{{col.header}}</span>

              <span *ngSwitchCase="'soLuongDat'">
                {{rowData[col.field]}}
              </span>

              <span *ngSwitchCase="'goiDichVu'" [innerHTML]="rowData[col.field]"> </span>
              <span *ngSwitchCase="'dichVu'" [innerHTML]="rowData[col.field]"> </span>

              
              <span *ngSwitchCase="'doanhThuTuKH'">
                {{rowData[col.field] | number}}
              </span>

              <span *ngSwitchCase="'thanhToanChoNcc'">
                {{rowData[col.field] | number}}
              </span>

              <span *ngSwitchCase="'hoaHongNhanVe'">
                {{rowData[col.field] | number}}
              </span>

              <span *ngSwitchCase="'tongDoanhThu'">
                {{rowData[col.field] | number}}
              </span>

              <span *ngSwitchDefault>
                {{rowData[col.field]}}
              </span>
            </td>

          </tr>
        </ng-template>
      </p-table>
    </div>

    

    <div *ngIf="isShowFilterLeft" class="col-md-{{rightColNumber}} no-padding">
      <div class="box-filter">
        <div class="row no-margin" *ngIf="[0,2].includes(baoCaoSelected.index)">
          <div class="col-md-12">
            <span>Nhóm dịch vụ</span>
          </div>
          <div class="col-md-12">
            <p-multiSelect [options]="listNhomDichVu" [(ngModel)]="listNhomDichVuSelected"
              defaultLabel="Chọn nhóm dịch vụ" optionLabel="categoryName" [style]="{'width': '100%'}"
              [resetFilterOnHide]="true" selectedItemsLabel="{0} nhóm dịch vụ được chọn"></p-multiSelect>
          </div>
        </div>

        <div class="row no-margin" *ngIf="[0].includes(baoCaoSelected.index)">
          <div class="col-md-12 mt-5">
            <span>Dịch vụ</span>
          </div>
          <div class="col-md-12">
            <p-multiSelect [options]="listDichVu" [(ngModel)]="listDichVuSelected" defaultLabel="Chọn dịch vụ"
              optionLabel="name" [style]="{'width': '100%'}" [resetFilterOnHide]="true"
              selectedItemsLabel="{0} dịch vụ được chọn"></p-multiSelect>
          </div>
        </div>

        <div class="row no-margin" *ngIf="[0].includes(baoCaoSelected.index)">
          <div class="col-md-12 mt-5">
            <span>Loại doanh thu</span>
          </div>
          <div class="col-md-12">
            <p-multiSelect [options]="listLoaiDoanhThu" [(ngModel)]="listLoaiDoanhThuSelected"
              defaultLabel="Chọn loại doanh thu" optionLabel="name" [style]="{'width': '100%'}"
              [resetFilterOnHide]="true" selectedItemsLabel="{0} loại doanh thu được chọn"></p-multiSelect>
          </div>
        </div>

        <div class="row no-margin">
          <div class="col-md-12 mt-5">
            <span>Từ ngày</span>
          </div>
          <div class="col-md-12">
            <p-calendar [(ngModel)]="tuNgay" [yearNavigator]="true" yearRange="2000:2100" dateFormat="dd/mm/yy"
              [style]="{'width':'100%'}" placeholder="dd/mm/yy" showButtonBar="true" [inputStyle]="{'width':'100%'}"
              [baseZIndex]="9999">
            </p-calendar>
          </div>
        </div>

        <div class="row no-margin">
          <div class="col-md-12 mt-5">
            <span>Đến ngày</span>
          </div>
          <div class="col-md-12">
            <p-calendar [(ngModel)]="denNgay" [yearNavigator]="true" yearRange="2000:2100" dateFormat="dd/mm/yy"
              [style]="{'width':'100%'}" placeholder="dd/mm/yy" showButtonBar="true" [inputStyle]="{'width':'100%'}"
              [baseZIndex]="9999">
            </p-calendar>
          </div>
        </div>

        <div class="row no-margin">
          <div class="col-md-6 mt-5">
            <span>Tổng doanh thu từ</span>
          </div>

          <div class="col-md-6 mt-5">
            <span>Đến</span>
          </div>
        </div>

        <div class="row no-margin">
          <div class="col-md-6">
            <p-inputNumber mode="decimal" [minFractionDigits]="2" [(ngModel)]="doanhThuTu"
              class="w-100"></p-inputNumber>
          </div>

          <div class="col-md-6">
            <p-inputNumber mode="decimal" [minFractionDigits]="2" [(ngModel)]="doanhThuDen"
              class="w-100"></p-inputNumber>
          </div>
        </div>

        <div class="row no-margin">
          <div class="col-md-12 mt-5" style="text-align: right;">
            <button type="button" class="btn-search" (click)="getBaoCaoTongHop()">
              <span class="btn-search-text">Tìm kiếm</span>
            </button>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>